* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* <--- <> 10px*/
}

body {
  font-size: 16px;
  background-color: #F9FAFC;
  color: #000;
  font-family: "Lato", sans-serif;
}

main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.map {
  color: #ffc107;
  font-size: 40px;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.titulo span {
  font-size: 1.5rem;
}