* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* <--- <> 10px*/
}

body {
  background-color: #F9FAFC;
  color: #000;
  font-family: "Lato", sans-serif;
}

.map {
  color: #ffc107;
  font-size: 40px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 span {
  font-size: 1.5rem;
}