header
        h1 Diego Alonzo Abregú Tinoco
nav
        ul
                each navegador in navegadores
                        li
                                a(href="#")=navegador
<!--se utiliza la variable provicional para llamar de a 1 en la lista-->

