header
        h1.titulo Diego Alonzo Abregú Tinoco
                span  Freelancer
nav.nav-principal
        ul
                each navegador in navegadores
                        a(href="#")=navegador
<!--se utiliza la variable provicional para llamar de a 1 en la lista-->

