/*-----------------principal-----------*/
*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/* <--- <> 10px*/
}
body{
    font-size: 16px;
    background-image: linear-gradient(to top, $color-gradient 0%, $color-claro 100%);
	color: $color-oscuro;
	@include titulos($Fuente1);
}
h1,h2,h3{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    @extend shadow;
    @include max-width(1200px);
    @include respon-to(900px){
        background-color:$color-claro;
    }
}
.btn{
    @extend %btn;
}
/*placeholder selector para sombra*/
%shadow{
    -webkit-box-shadow: 0px 5px 14px 0px rgba(25,25,25,0.4);
    -moz-box-shadow: 0px 5px 14px 0px rgba(25,25,25,0.4);
    box-shadow: 0px 5px 14px 0px rgba(25,25,25,0.4);
}
/*placeholder selector para botones*/
%btn{
    background-color: $color-secundario;
    color: $color-claro;
    margin-top: 2rem;
    border-radius: .5rem;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    width: 80%;
    @include titulos($Fuente2);
    &:hover{
        background-color: $color-primario;
        color: $color-oscuro;
    }
    @include respon-to(541px){
        width: auto;
    }
}

.btn{
    @extend %btn;
}