*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/* <--- <> 10px*/
}
body{
    font-size: 16px;
    background-color: #F9FAFC;
	color: $color-oscuro;
	@include titulos($Fuente1);
}
main{
    @include max-width(90%);
}

.map{
    color: $color-primario;
    font-size: $font-size-image;
}