/*-----------------principal-----------*/
*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/* <--- <> 10px*/
}
body{
    font-size: 16px;
    background-image: linear-gradient(to top, $color-gradient 0%, $color-claro 100%);
	color: $color-oscuro;
	@include titulos($Fuente1);
}
h1,h2,h3{
    text-align: center;
}
main{
    background-color:$color-claro;
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 2rem;
    border-radius: 1rem;
    @extend %shadow;
    @include max-width(100%);
    @include media(tablet){
        @include max-width(80%);
    }
}
.btn{
    @extend %btn;
}