.nav-principal{
    background-color: $color-secundario;
    height: 3.8rem;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li{
        list-style: none;
        margin: 0 4%;
        margin-top: 1rem;
    }
    a{
        text-decoration: none;
        color: $color-claro;
        padding: 10px 20px;
        @include titulos($Fuente2)
    }
    a:hover{
        background-color: $color-primario;
        color: $color-oscuro;
        transition: .5s;
    }
}