$color-claro: #fff;
$color-oscuro: #212121;
$color-primario: #ffc107;
$color-secundario: #0097a7;
$color-opaco: #75757575;

$font-size-image: 40px;

$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;

